<!DOCTYPE html>
<meta charset="utf-8">
<title>LIFE GAME</title>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="javascripts/main.js"></script>
<style>body{background:yellow;margin:0;padding:0;}</style>
<canvas id="world" style="background:black;display:block;margin:auto;"></canvas>
